<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'travel_buddy2/style.css' %}">
    </head>
  <body>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %} 
    <p class="nav"><a href="/travels">Home</a> | <a href="/logout">Logout</a></p>       
    <h2>Add a Trip</h2>
    <form action='/travels/add' method='post'>
        {% csrf_token %}
        Destination: <select name='destination'>
            {% for trip in destinations %}
            <option value= "{{trip.name}}"> {{trip.name}}</option>
            {% endfor %}
        </select><br>
        Description: <input type='text' name='description'><br>
        Travel Date From: <input type='date' name='from'><br>
        Travel Date To: <input type ='date' name='to'><br>
        <input type='hidden' name='id' value={{logged_in.id}}>
        <input type='submit' value='add'>
    </form>
    <hr>
  </body>
</html>